.actions a :hover {
    outline: 1px solid blue;
    border-radius: 20px;
}
.actionsDir :hover{
    outline: 4px solid blue;
    border-radius: 20px;
}
.modalNew {
    content: -10px;
    max-height: 150px;

}